.App {
  margin-top: 100px;
}
.container {
  text-align: center;
  width: 180px;
  padding: 20px;
  border: 2px solid darkslateblue;
  border-radius: 5px;
  background-color: lightblue;
  display: inline-block;
  margin-left: 230px;
}
.button {
  height: 30px;
  border: 2px solid darkslateblue;
  border-radius: 5px;
  margin-top: 20px;
  padding: 5px;
}
.buttonsContainer {
  height: 60px;
  border: 2px solid darkslateblue;
  border-radius: 5px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.number {
  height: 50px;
  border: 2px solid darkslateblue;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}
.numberRed  {
  height: 50px;
  border: 2px solid darkslateblue;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  font-size: 1.5em;
  color: red;
  text-align: center;
}
.App input {
  width: 40px;
  display: inline;
}
.error {
  background-color: palevioletred;
  border: 1px solid darkred ;
}
