body {
  background-image: url('images/unicorn_pug.png');
}
.App {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  text-align: center;
  margin-left: 150px;
  font-family: "Comic Sans MS", sans-serif;
}
.container {
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
  font-size: large;
  color: white;
  width: 200px;
  padding: 20px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: pink;
  display: inline-block;
  background-image: url('images/cake.png');
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.button {
  border-bottom: 3px solid peachpuff;
  border-right: 3px solid peachpuff;
  border-left: 3px solid white;
  border-top: 3px solid white;
  border-radius: 10px;
  margin-top: 10px;
  padding: 7px;
  font-family: "Comic Sans MS", sans-serif;
  font-weight: bold;
}
.button:active {
  border-top: 3px solid peachpuff;
  border-left: 3px solid peachpuff;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}
.buttonsContainer {
  height: 60px;
  border: 3px solid white;
  border-radius: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.number {
  height: 50px;
  border: 3px solid white;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}
.numberRed  {
  height: 50px;
  border: 3px solid white;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  font-size: 1.5em;
  color: red;
  text-align: center;
}
.App input {
  width: 40px;
  display: inline;
  border: 3px solid peachpuff;
  border-radius: 3px;
}
.App input:focus {
  outline: none !important;
}
.error {
  background-color: palevioletred;
  border: 1px solid darkred ;
}

